.page {
    height: 100dvh;
    width: 100vw;
    margin: 0;
    background-color: var(--color-bg);
    display: flex;
    justify-content: center;
    align-items: center;

    main {
        display: flex;
        flex-direction: row;
        gap: 1rem;

        section {

            padding: 2rem;

            h1 {
                font-size: xx-large;
            }

            >div {
                display: grid;
                grid-template-columns: auto 1fr;
                grid-template-rows: auto auto;
                gap: 1rem;

                >div {
                    margin: 0;
                    padding: 0;
                }

                >p {
                    margin: 0;
                }
            }
        }

        .divider {
            width: 1px;
            background-color: var(--color-bg-darker);
            align-self: center;
            height: 200px;
            margin: 0 2rem;
        }

        .form {
            padding: 2rem;
            display: flex;
            align-items: center;

            form {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 1rem;
                align-items: flex-end;



                input[type=email] {
                    display: block;
                    border: none;
                    border-bottom: var(--color-gray) 1px solid;
                    font-size: 15pt;
                    min-width: 30ch;
                    overflow: visible;
                    font-family: var(--font-base);
                    text-align: left;
                    border-radius: 0px;
                    padding: 3px;
                    text-align: center;
                    color: black;
                    margin-top: 10px;
                }

                input[type=email]:focus-within {
                    border-bottom: var(--color-accent-dark) 1px solid;
                    outline: none;
                }

                input[type=submit] {
                    border: none;
                    background-color: var(--color-gray);
                    padding: 0.5rem 1rem;
                    font-weight: 600;
                    border-radius: 5px;
                    color: var(--color-foreground);
                    cursor: pointer;

                }
            }
        }

    }

}

.car {
    text-decoration: none;
    border: none;
}

.loadingheader {
    height: min-content;
    align-self: center;
}

.verify {
    @extend .loadingheader;
    max-width: 30ch;
    text-align: center;
}

@media (max-width:800px) {
    .page {
        align-items: stretch;

        .main {
            flex-direction: column;
            justify-content: space-evenly;

            .divider {
                display: none;
            }



            input[type=email] {
                min-width: none;
                width: 80%;
            }
        }
    }
}

@media (min-width:1200px) {
    .page {
        .main {
            h1 {
                font-size: 32pt;
            }

            p {
                font-size: large;
            }

            input[type=email] {
                font-size: x-large !important;
            }

            input[type=submit] {
                font-size: large;
                margin: 1rem 0;
            }
        }
    }
}